# Git
.git
.gitignore

# Secrets and Env
secrets/
*.env

# Temporary Docs
**/*.log
**/*.tmp
.DS_Store
**/*.swp

# Node.js & Python
**/node_modules

# IDE Docs
.vscode/
*.idea/
*.sublime-project
*.sublime-workspace

# OS Documents
Thumbs.db
ehthumbs.db

# Build Outputs
/dist
/build

# Test Outputs
/tests/output/
output.txt
