# ---------------------------
# Git
# ---------------------------
.git
.gitignore

# ---------------------------
# Secrets and Env.
# ---------------------------
*.env
/secrets/

# ---------------------------
# Build
# ---------------------------
/dist/
/build/
/out/
/target/
*.o
*.pyc
*.class

# ---------------------------
# Node.js
# ---------------------------
**/node_modules/
/**/node_modules/
/**/.yarn/
/**/.pnp/
/**/.cache/

# ---------------------------
# Log and Tmp
# ---------------------------
**/*.log
**/*.tmp
**/*.swp
*.swp
*.swo
*.swn
*.bak

# ---------------------------
# IDE Docs
# ---------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

# ---------------------------
# OS Docs
# ---------------------------
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
._*

# ---------------------------
# Test Docs
# ---------------------------
output.txt
